html,
body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    color: #000000;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner {
    overflow: hidden;
    padding: 15em 0em;
    background: url(img/banner.jpg) no-repeat center;
    background-size: cover;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}


/*********************************************************************************/
/* Requisitos Actividad                                                          */
/*********************************************************************************/

/* Requisito 1: Animar el coche (cotxe.webp) */
#banner {
    position: relative;
    overflow: hidden;
}

#banner img {
    position: absolute;
    bottom: 0;
    left: -200px;
    animation: moveCar 5s linear infinite;
    width: auto;
}

@keyframes moveCar {
    to {
        left: 100%;
    }
}